@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
:root{
    --grayishBlue: hsl(229, 6%, 66%);
    --white: #fff;
    --grass: #458600;
    --black: #000;
    --color: #3c3163;
}

/*================================================================== Header ============================================*/

#header {
  width: 100%;
  height: 100vh;
}
/*================================================================== Navbar ============================================*/
nav {
  background-color: rgb(1, 0, 30);
padding-left: 5%;
padding-right: 5%;
padding-top: 10px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.navlinks {
flex: 1;
text-align: right;
}
.logo {
color: white;
font-size: 25px;
}
span {
color: RED;
}
nav ul li {
list-style: none;
margin: 10px 20px;
display: inline-flex;
align-items: center;
}
nav ul li a {
color: white;
text-decoration: none;
font-size: 18px;
transition: 0.5s;
}

/*adding hover effects to nav items*/

nav ul li a::after {
content: "";
width: 0%; /*will change during hover*/
height: 3px;
background-color: lightcoral;
display: flex;
transition: 0.5s;
}
nav ul li a:hover::after {
width: 100%;
}
nav ul li a:hover {
color: white;
}
nav .icons {
display: none;
}

.home, .but, .car, .inp, .formi, .load {
color: #fff;
font-size: 18px;
margin-right: 6px;
margin-top: 2px;
}


/*================================================================== Webpages ====================================*/

.webpageflex{
    display: flex;
    justify-content: center;
}

.h2flex{
top: 6vh;
margin-bottom: 15vh;
position: relative;
display: flex;
justify-content: center;
}
  #webpages h2{
    font-size: 45px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
  }
  #webpages h3{
    font-size: 45px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .webpagelist1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .webpage {
    margin-right: 4vw;
    position: relative;
    border-radius: 10px;
    
  }
  .webpageuplift{
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  }
  .webpage img {
    border-radius: 10px;
    display: block;
    object-fit: cover;
    width: 230px;
    height: 230px;
  }
  .webpagetitle{
   text-align: center;
   padding-bottom: 10px;
   opacity: 0.9;
  }
  .webpagebtns{
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
  }

  .visitwebpage{
    font-size: 15px;
text-decoration: none;
color: var(--white);
background-color: var(--grass);
padding: 7px 20px;
border-radius: 5px;
margin-right: 10px;
transition: 0.5s;
  }
  .visitwebpage:hover{
background-color: var(--white);
color: var(--black);
  }
  .sourcecode{
    text-decoration: none;
    color: var(--white);
background-color: var(--black);
padding: 7px 20px;
border-radius: 5px;
transition: 0.5s;
  }
  .sourcecode:hover{
    background-color: var(--white);
    color: var(--black);
  }
  .webpageuplift{
    transition: transform 0.5s;
  }

 .webpageuplift:hover {
    transform: scale(1.1);
  }

  /*================================================================== Footer ============================================*/

.footeritems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footeritems a {
  font-size: 14px;
  margin-left: 30px;
color: white;
  opacity: 0.9;
  font-weight: 600;
  text-decoration: none;
}
.copyright {
  font-size: 14px;
  margin-top: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(59, 59, 59, 0.998);
  color: white;
  opacity: 0.9;
  padding: 1vh;
  font-weight: 600;
}

  /*================================================================== Media ============================================*/
/*================================================================== Media ============================================*/

@media (max-width: 700px){

     /*================================================================ Nav ============================================*/
 .navlinks {
  position: fixed;
  background-color: rgb(1, 0, 30);
  height: 100vh;
  width: 200px;
  z-index: 2;
  text-align: left;
  top: 0;
  right: -200px;
  transition: 0.5s; /*for sidebar*/
}
nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}
nav ul li a{
  color: white;
  font-size: 20px;
  margin-top: 1px;
  
}
.home, .but, .car, .inp, .formi, .load {
  color: #fff;
  font-size: 20px;
margin-right: 7px;

}
nav ul li a:hover{
  color: red;
}
/*menu icon*/
nav .icons {
  font-size: 30px;
  color: white;
  display: block;
  margin: 10px;
  cursor: pointer;
}
     


 /*================================================================ Webpages ============================================*/
 #webpages h2 {
  font-size: 35px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}
#webpages h3 {
  font-size: 24px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}

.h2flex {
  top: 5vh;
  margin-bottom: 9vh;
  position: relative;
  display: flex;
  justify-content: center;
}
 .webpage {
  margin-bottom: 8vh;
  position: relative;
  border-radius: 10px;
}
.webpagelist1 {
  margin-bottom: 0px;
}
#buttons {
  margin-top: 0vh;
}
#buttons h3 {
  font-size: 28px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}
.h3flex {
  margin-bottom: 9vh;
}
/*============================================================================== Footer ================================================*/
.footeritems a {
  font-size: 9px;
  margin-left: 10px;
}
.copyright {
  font-size: 9px;
  padding: 2vh;
  font-weight: 600;
}
}