@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}

:root{
  --grayishBlue: hsl(229, 6%, 66%);
  --white: #fff;
  --grass: black;
  --btn: rgb(1, 0, 30) ;
  --black: #000;
  --color: #3c3163;
}

/*================================================================== Header ============================================*/

#header {
  width: 100%;
  height: 100vh;
}
/*================================================================== Navbar ============================================*/
nav {
    background-color: rgb(1, 0, 30);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navlinks {
  flex: 1;
  text-align: right;
}
.logo {
  color: white;
  font-size: 25px;
}
span {
  color: RED;
}
nav ul li {
  list-style: none;
  margin: 10px 20px;
  display: inline-flex;
  align-items: center;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
}

/*adding hover effects to nav items*/

nav ul li a::after {
  content: "";
  width: 0%; /*will change during hover*/
  height: 3px;
  background-color: lightcoral;
  display: flex;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: white;
}
nav .icons {
  display: none;
}

.home, .but, .car, .inp, .formi, .load {
  color: #fff;
  font-size: 18px;
margin-right: 6px;
margin-top: 2px;
}

 /*================================================================== Header  ============================================*/
 .h1flex{
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.h1flex h1{
  font-size: 8vh;
  margin-bottom: 2vh;
  font-family: 'Times New Roman', Times, serif;
 }

  /*================================================================== CARD ============================================*/
  .flexcard{
    margin-right: 1vh;
    margin-left: 1vh;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardarea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh;
    margin-bottom: 10vh;
    height: 100vh;
    width: 44vw;
  
  }
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 40vw;
    margin-bottom: 3vh;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue); 
  }
  /*----------------------------------------------------------------media-------------------------------------------------------*/
  @media (max-width: 700px) {
    .card {
      box-shadow: none;
      border: none;
      display: flex;
      justify-content: center;
    align-items: end;
    height: auto;
      width: 90vw;
      margin-bottom: 40px;
      border-radius: 5px;
    }
    .cardarea{
      margin-bottom: 0vh;
      margin: 0vh;
      height: auto;
      width: 100vw;
      margin-bottom: 15vh;
    }
  }
  /*----------------------------------------------------------------media  close-------------------------------------------------------*/
  .cardbtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
 

  .cardbtns p{
    font-size: 15px;
text-decoration: none;
color: white;
background-color: transparent;
background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
padding: 7px 20px;
border-radius: 5px;
margin-right: 10px;
  }
  .cardbtns button{
    border: none;
    outline: none;
    font-size: 15px;
text-decoration: none;
color: white;
background-color:  rgb(2, 0, 59);
padding: 7px 20px;
border-radius: 5px;
margin-right: 10px;
transition: 0.4s;
  }
  .cardbtns button:hover{
    background-color:  rgb(67, 65, 132);
color: white;
  }
 

   /*================================================================== CARD ! ============================================*/

   #card1  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #240046;
  height: 80vh;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
  }
  
  #card1  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
  }
  
  /*checkbox to switch from sign up to login*/
   #chk {
    display: none;
  }
  
  /*Login*/
  #card1 .login {
    position: relative;
    width: auto;
    height: auto;
  }
  
  #card1 .login label {
    margin: 25% 0 5%;
  }
  
  #card1  label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  #card1 .input {
    width: auto;
    height: auto;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  /*Register*/
  #card1 .register {
    background: #eee;
    border-radius: 60% / 10%;
    transition: .8s ease-in-out;
  }
  
  #card1 .register label {
    color: #573b8a;
    transform: scale(.6);
  }
  
  #chk:checked ~ .register {
    transform: translateY(-60%);
  }
  
  #chk:checked ~ .register label {
    transform: scale(1);
    margin: 10% 0 5%;
  }
  
  #chk:checked ~ .login label {
    transform: scale(.6);
    margin: 5% 0 5%;
  }   
  /*Button*/
#card1  .form button {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
  }
  
  #card1  .form button:hover {
    background-color: #6d44b8;
  }
  @media (max-width: 700px){
    #card1 .main{
      height: 66vh;
    }
  }



  /*================================================================== Form 2 ============================================*/
      
 #card2 .form {
    width: 290px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid rgb(180, 178, 178);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: .4s ease-in-out;
  }
  

  
  #card2 .heading {
    position: relative;
    text-align: center;
    color: black;
    top: 3em;
    font-weight: bold;
  }
  
  #card2 .check {
    position: relative;
    align-self: center;
    top: 4em;
  }
  
  #card2 .input {
    position: relative;
    width: 1.5em;
    height: 2.5em;
    margin: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(255, 252, 252);
    box-shadow: inset 3px 3px 6px #d1d1d1,
              inset -3px -3px 6px #ffffff;
    top: 6.5em;
    left: 1.5em;
    padding-left: 15px;
    transition: .4s ease-in-out;
  }
  
  #card2  .input:hover {
    box-shadow: inset 0px 0px 0px #d1d1d1,
              inset 0px 0px 0px #ffffff;
    background-color: lightgrey;
  }
  
  #card2  .input:focus {
    box-shadow: inset 0px 0px 0px #d1d1d1,
              inset 0px 0px 0px #ffffff;
    background-color: lightgrey;
  }
  
  #card2 .btn1 {
    background-color: #000000;
    color: white;
    position: relative;
    top: 8.5em;
    left: 2.4em;
    width: 17em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    box-shadow: 1px 1px 3px #b5b5b5,
               -1px -1px 3px #ffffff;
  }
  
  #card2  .btn1:hover {
    background-color: white;
    color: black;
  }

  
  #card2  .btn2 {
    background-color: #000000;
    color: white;
    position: relative;
    top: 9.5em;
    left: 2.4em;
    width: 17em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    box-shadow: 1px 1px 3px #b5b5b5,
               -1px -1px 3px #ffffff;
  }
  #card2  .btn2:hover {
    background-color: white;
    color: black;
  }
  
 
              
   /*================================================================== Form 3 ============================================*/
   #card3 .singup {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.5em;
  }
  
  #card3 .card3 {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 36vw;
    width: 30vw;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #ffffff;
    border: 2px solid rgb(177, 177, 177);
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
  }
  @media (max-width: 700px) {
    #card3 .card3  {
      height: auto;
       width: 86vw;
    }
   
    #card3 .inputBox input {
      width: 85%;
  }
  #card3 .inputBox1 input {
    width: 85%;
}
  }
  
  
  .inputBox,
  .inputBox1 {
    position: relative;
    width: 250px;
  }
  
  .inputBox input,
  .inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span,
  .inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox1 input:valid~span,
  .inputBox1 input:focus~span {
    transform: translateX(156px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus,
  .inputBox1 input:valid,
  .inputBox1 input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  #card3  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 3em;
    margin-top: 4vh;
  }
  
  #card3 .enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
   /*================================================================== Form 4 ============================================*/

   .subscribe {
    position: relative;
    height: 140px;
    width: 240px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
  }
  
  .subscribe:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1a044e;
  }
  
  .subscribe p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 28px;
  }
  
  .subscribe input {
    position: absolute;
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 82%;
    background: transparent;
    transition: all .25s ease;
  }
  
  .subscribe input:focus {
    outline: none;
    border-bottom: 1px solid #0d095e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  }
  
  .subscribe .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #0f0092;
    color: #FFF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  }
  
  .subscribe .submit-btn:hover {
    background-color: #07013d;
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
  }
   
   /*================================================================== Form 5 ============================================*/
   .login-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
  }
  
  .login-box a:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }
   
   /*================================================================== Form 6 ============================================*/
   .card6 {
    position: relative;
    border-radius: 10px;
    width: 190px;
    height: 254px;
    background: #ffffff;
    border: 1px solid rgb(163, 163, 163);
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
  }
  
  #card6 .form {
    padding: 25px;
  }
  
  .card_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  
 .card6 svg {
    color: #7878bd;
    
    margin-right: 8px;
  }
  
 #card6  .form_heading {
    font-size: 21px;
    color: #7878bd;
  }
  
   .field {
    padding-bottom: 10px;
  }
  
  #card6 .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
  }
  
  #card6 .input:focus-visible {
    outline: 1px solid #aeaed6;
  }
  
  #card6 .input::placeholder {
    color: #bcbcdf;
  }
  
  #card6 label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
  
  
  

  /*=============================================================== Form 7 ========================================================*/
 
  .login-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }
  /*================================================================== Form 8 ============================================*/
  .form8 {
    display: flex;
    width: 30vw;
    flex-direction: column;
    gap: 10px;
    background: #1e1e1e;
    padding: 20px;
    border: 1px solid #3d3c3c;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
  .form8 input {
    height: 30px;
    outline: none;
    border: 2px solid orange;
    background: transparent;
    padding: 15px 10px;
    border-radius: 5px;
    transition: .5s;
    color: white;
    font-size: 20px;
  }
  @media (max-width: 700px) {
    .form8 {
      display: flex;
      width: 70vw;
     
      gap: 10px;
   
      padding: 20px;
      border: 1px solid #3d3c3c;
      border-radius: 10px;
      color: white;
      text-align: center;
      font-size: 20px;
    }
  }
  
  .form8 input:focus {
    background: orange;
  }
  
  .form8 button {
    width: 100%;
    color: white;
    transition: .5s;
    font-size: 20px;
    outline: none;
    border: none;
    height: 45px;
    border-radius: 5px;
    background: orange;
    align-self: flex-end;
  }
      
  /*================================================================== Form 9 ============================================*/
  .card9 {
    width: 240px;
    height: 254px;
    padding:20px  60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #498265;
    border-radius: 20px;
  }
  @media (max-width: 700px){
    .card9 {
      width: 200px;
    }
  }
  
  .card__title {
    font-size: 23px;
    font-weight: 900;
    color: white;
  }
  
  .card__content {
    font-size: 13px;
    line-height: 18px;
    color: white;
  }

  
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .card__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
  .sign-up:hover {
    opacity: 0.8;
  } 
  
  /*================================================================== Form 10  ============================================*/

.form_container {
  position: relative;
  height: 80vh;
  width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 25px 30px 20px 30px;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
  }
  @media (max-width: 700px){
.form_container{
  width: 70vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue); 
  border: 2px solid rgb(135, 135, 135);
}
  }
  
  
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212121;
  }
  
  .subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8B8E98
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
  }
  
  .input_label {
    font-size: 0.75rem;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  .card span{
    color: white;
  }
  .sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115DFC;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #000000;
    border-radius: 7px;
    outline: none;
  
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .sign-in_apl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #212121;
    border-radius: 7px;
    outline: none;
 
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #2e2e2e;
  }
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000000;
  }
  
  .note {
    font-size: 0.75rem;
    color: #8B8E98;
    text-decoration: underline;
  }



  /*================================================================== Footer ============================================*/

.footeritems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footeritems a {
  margin-left: 30px;
  color: rgb(15, 15, 15);
  opacity: 0.9;
  font-weight: 600;
  text-decoration: none;
}
.copyright {
  margin-top: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 146, 146, 0.998);
  color: rgb(15, 15, 15);
  opacity: 0.9;
  padding: 1vh;
  font-weight: 600;
}

 /*================================================================== Media ============================================*/
/*================================================================== Media ============================================*/

@media (max-width: 700px){
 /*================================================================ Nav ============================================*/
 .navlinks {
  position: fixed;
  background-color: rgb(1, 0, 30);
  height: 100vh;
  width: 200px;
  z-index: 2;
  text-align: left;
  top: 0;
  right: -200px;
  transition: 0.5s; /*for sidebar*/
}
nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}
nav ul li a{
  color: white;
  font-size: 20px;
  margin-top: 1px;
  
}
.home, .but, .car, .inp, .formi, .load {
  color: #fff;
  font-size: 20px;
margin-right: 7px;

}
nav ul li a:hover{
  color: red;
}
/*menu icon*/
nav .icons {
  font-size: 30px;
  color: white;
  display: block;
  margin: 10px;
  cursor: pointer;
}
/*================================================================ header ============================================*/
    .h1flex  h1 {
        font-size: 4vh;
      }
      .h1flex{
        margin-top: 4vh;
        margin-bottom: 0;
      }
      .h1flex p{
font-size: 14px;
      }

/*================================================================ Content ============================================*/
.flexcard{
  margin-right: 0vh;
  margin-left: 0vh;
  margin-bottom: 5vh;
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/*================================================================ Footer============================================*/
     

.footeritems a {
        font-size: 9px;
        margin-left: 10px;
      }
      .copyright {
        font-size: 9px;
        padding: 2vh;
        font-weight: 600;
      }



    }