* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: black;
  color: white;
}
/*-----------------------------------------------------HEADER------------------------------------------------------*/

#header {
  width: 100%;
  height: 100vh;
}
.header img {
  height: 90vh;
  position: relative;
  left: 54vw;
  top: 0;
}
/*-----------------------------------------------------Navbar------------------------------------------------------*/
nav {
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navlinks {
  flex: 1;
  text-align: right;
}
.logo {
  color: white;
  font-size: 25px;
}
span {
  color: red;
}
nav ul li {
  display: inline-flex;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/*adding hover effects to nav items*/
nav ul li a::after {
  content: "";
  width: 0%; /*will change during hover*/
  height: 3px;
  background-color: lightcoral;
  display: flex;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: white;
}
nav .icons {
  display: none;
}
/*-------------------------------------------------Header Text-----------------------------------------------*/
.headertext {
  position: absolute;
  left: 4vw;
  top: 36vh;
}
.headertext p {
  font-size: 28px;
  margin: 20px;
}
h2 {
  font-size: 50px;
}
.instaflex{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.instagit i{
  margin-right: 2vw;
  font-size: 50px;
 color: aliceblue;
 transition: font-size 0.5s;
 
 
}
.instagit i:hover{
  color: goldenrod;
  font-size: 55px;
}
/*-----------------------------------------------------About-------------------------------------------------------------*/
#about {
  padding-top: 80px;

  color: white;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10vh;
  margin-left: 5vw;
}
.column1 {
  background-color: #454545;
  border-radius: 10px;
  
}
.column1 img {
  height: 350px;
 transform: rotate(-90deg);
 border-radius: 15px;
 border: 10px solid white;

}
.column2 {
  flex-basis: 56%;
}
.column2 h3 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 7px;
}
.column2 p{
 color: gray;
 font-weight: 500;
}
.tab-name {
  display: flex;
  margin: 20px 0 20px;
}

.tabtitles {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.tabtitles::after {
  content: "";
  width: 0%; /*will change during hover*/
  height: 3px;
  background-color: red;
  display: flex;
  transition: 0.5s;
}
.tabtitles:hover::after {
  width: 100%;
}
.tabtitles:hover {
  color: white;
}
.tabcontent ul li {
  list-style: none;
  margin-bottom: 15px;
}
.tabcontent ul li span {
  font-size: 14px;
  color: goldenrod;

}
/*hiding tab content*/
.tabcontent {
  display: none;
}
.tabcontent.activetab {
  display: block;
}
/*using js to switch betwwen*/

/*-------------------------------------------Services-----------------------------------------------------------------*/
#services {
  margin: 50px;
}
.services {
display: flex;
justify-content: center;
}
.services-list {
  display: flex;
  margin-top: 40px;
  justify-content: center;
 
}
.services-list div {
  background-color: wheat;
  padding: 20px 20px 20px 30px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background-color 0.5s,transform 0.5s ;
  color: black;  
}
.services-list div i {
  font-size: 50px;
}
.services-list div h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 18px;
  margin-top: 10px;
}
.services-list div a {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
  text-decoration: none;
  display: inline-block;
  color: black;
}
.services-list div:hover{
  background: pink;
  transform: translateY(-10px);
  color: black;
}
/*------------------------------------------portfolio--------------------------------------------------------*/
#portfolio{
  margin-top: 50px;
  margin-bottom: 50px;
}
.projects{
  display: flex;
  justify-content: center;
}
.worklist{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.work{
  margin-right: 4vw;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  
}
.work img{
  border-radius: 10px;
  display: block;
  width: 230px;
 
}
.layer{
  width: 100%;
  height: 0;    /*heighthidden*/
  background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
 
}
.layer h3{
  font-weight: 500;
  margin: 5px;
}
.layer p{
margin: 10px;
font-size: 10px;
}
.layer a{
  color: #ff004f;
  font-size: 18px;
  line-height: 48px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  margin-top: 10px;
  
}
.work:hover{
  transform: scale(1.1); /*image zoom*/
}
.work:hover .layer{
  height: 100%;
}
.workbtn{
  display: flex;
  justify-content: center;
  
}
.btn{
text-decoration: none;
padding: 10px 40px 10px 40px;
border-radius: 5px;
color: white;
font-weight: 600;
transition: background 0.1s;
border: 1px solid white;
}

.btn:hover{
  background: #ff004f;
  border: 1px solid black;
}
/*-----------------------------------------------------CONTACT-------------------------------------------*/
#contact .row{
 display: flex;
 margin-top: 15vh;
}
.contact-left{
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-top: 2vh;
}

.contact-left p{
  margin: 15px;
  font-size: 20px;
  display: flex;
  
}

.contact-left p i{
  color: white;
  margin-right: 10px;
  font-size: 25px;
}
.contact-left h2{
  margin-left: 1vw;
  margin-bottom: 10px;
}
.contact-left p i{
  color: goldenrod;
}
.socialiconsflexbox{
  display: flex;
  margin: 20px;
  
  justify-content: space-between;
  margin-left: 1vw;
 
}
.socialicons i{
  margin-right: 15px;
  font-size: 28px;
 color: aliceblue;
 transition: font-size 0.5s;
 
 
}
.socialicons i:hover{
  color: goldenrod;
  font-size: 32px;
}
.btn2class {
  margin-top: 2vh;
}
.btn2{
  margin-left: 10px;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  transition: background 0.1s;
  border: 1px solid white;
  text-align: center;
  }
  
  .btn2:hover{
    background: #ff004f;
    border: 1px solid black;
  }
  .contact-right form{
   margin-right: 2vw;
  }
form input, form textarea{
  outline: none;
  background: #262626;
  margin: 13px 0;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 18px;
  border-radius: 7px;
border-width: 2px;
border-style: solid;
}
.btn3{
  margin-top: 5px;
  text-decoration: none;
  padding: 12px 50px;
  border-radius: 5px;
 background-color: black;
 color: white;
  transition: background 0.1s;
  border: 1px solid white;
  text-align: center;
  font-size: 15px;
}
.btn3:hover{
  background: #ff004f;
    border: 1px solid black;
}
.copyright{
  margin-top: 3vh;
  background-color: #454545;
  padding: 2vh;
  text-align: center;
  font-weight: 600;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Media Queries-------------------------------------------*/
@media (max-width: 700px) {
  .navlinks ul li {
    display: block;
  }
  /*-----------------------------------header------------------------------------------------------------------*/
  .instaflex{
    margin-top: 17vh;
    display: flex;
    justify-content: center;
  }
  .instagit i{
    margin-right: 6vw;
    font-size: 40px;
   color: aliceblue;
   transition: font-size 0.5s;
   
   
  }
  .headertext {
    position: absolute;
    left: 4vw;
    top: 20vh;
  }
  .headertext p {
    font-size: 15px;
    margin: 10px;
  }

  h2{
    font-size: 25px;
    word-wrap: break-word;
    width: 200px;
  }
  .header img {
    height: 70vh;
    position: relative;
    left: 20vw;
    top: 0;
  }
  .image-container {
    overflow: hidden;
  }

  /*---------------------------about--------------------------------------------------------------------------------*/
  #about {
    padding-top: 20px;
    color: white;
  }
  
  .column1 {
    background-color: #454545;
    border-radius: 10px;
  }
  .column1 img {
   height: 250px;
   transform: rotate(-90deg);
   border-radius: 10px;
   border: 10px solid white;
  
  }
  .column2 h3 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .column2 p{
   color: gray;
   font-weight: 500;
   font-size: 17px;
   word-wrap: break-word;
   margin: 20px;
   word-spacing: 2px;
  }
  .tab-name {
    display: flex;
    margin: 10px 0 10px;
  }
  
  .tabtitles {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  /*Services*/
  #services {
    margin: 30px;
    
  }
  #services .sub-title {
  display: flex;
  justify-content: center;
 font-size: 30px;
  }
  .services-list {
    display: flex;
    margin-top: 30px;
    justify-content: center;
   
  }
  .services-list div {
    padding: 20px 20px 20px 30px;
    font-size: 13px;
    font-weight: 300; 
  }
  .services-list div i {
    font-size: 40px;
  }
  .services-list div h3 {
    font-size: 20px;
  }
  /*----------------------------------------------------------------projects--------------------------------------*/
.projects{
  margin-left: 18vw;
  font-size: 27px;
  margin-bottom: 10px;
}
  .worklist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }
 
  .work{
    margin-right: 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s; 
  }
  .work img{
    border-radius: 10px;
    display: block;
  }

  .layer h3{
    font-weight: 500;
    margin: 5px;
  }
  .layer p{
  margin: 10px;
  font-size: 10px;
  }
  .layer a{
    color: #ff004f;
    font-size: 18px;
    line-height: 48px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    margin-top: 10px;
  }
 
  
 
  
  /*-------------------------------------------------------nav--------------------------------------------*/
  .navlinks {
    position: fixed;
    background-color: black;
    color: white;
    height: 100vh;
    width: 200px;
    z-index: 2;
    text-align: left;
    top: 0;
    right: -200px;
    transition: 0.5s; /*for sidebar*/
  }
  /*menu icon*/
  nav .icons {
    display: block;
    margin: 10px;
    cursor: pointer;
  }
  /*----------------------------------------SERVICES-----------------------------------------------------*/

  .services{
    margin-left: 12vw;
    font-size: 30px;
    margin-bottom: 10px;
  }
 
  .services-list{
    flex-wrap: wrap;
  }
  .services-list div{
    margin-bottom: 15px;
  }


.work{
margin-bottom: 20px;
}
.sub-title{
  margin-left: 18vw;
}

/*---------------------------------------------------------------------Contact--------------------------------------*/


.contact-right form{
  margin-top: 25px;
margin-right: 0;
display: flex;
justify-content: center;
flex-wrap: wrap;
 }
form input, form textarea{
 outline: none;
 background: #262626;
 margin: 10px 0;
 width: 70vw;
 padding: 15px;
 color: white;
 font-size: 18px;
 border-radius: 7px;
border-width: 2px;
border-style: solid;
}
.socialiconsflexbox{
  display: flex;
  justify-content: center;
}
.btn2class{
  display: flex;
  justify-content: center;
  margin-right: 9vw;
}
.contact-left{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
  }
  #contact .row{
    display: flex;
    margin-top: 8vh;
   }
  
  .contact-left h2{
    display: flex;
    justify-content: center;
    margin-left: 6vw;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .contact-left p{
    margin: 15px;
    font-size: 17px;
    display: flex;
  }
  .contact-left p i{
    color: white;
    margin-right: 10px;
    font-size: 20px;
  }
}
